<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Event Calendar</title>
    </head>

    <body>
        <h1>Event</h1>
        <span th:text="${event.name}"></span>
        <span th:text="${event.description}"></span>

        <ul>
            <li th:each="account : ${event.participants}">
                <span th:text="${account.username}">name</span>
                <form th:action="@{/removeParticipant/{eventId}/{username}({eventId}(eventId=${event.id},username=${account.username})}" th:method="DELETE">
                    <input type="submit" value="Remove join"/>
                </form>
            </li>
        </ul>
        
        <ul>
            <li th:each="comment : ${comments}">
                <span th:text="${comment.author.name}">name</span>
                <span th:text="${comment.content}">content</span>
            </li>
        </ul>

        <form th:action="@{/comments/{eventId}(eventId=${event.id})}" th:method="POST">
            <textarea name="content"> </textarea>
            <input type="submit" value="Send comment" />
        </form>

        <a href="/">Back to index</a>
    </body>
</html>